<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color" style="margin-top: -21px;">
    <div class="mobile-sidebar-header d-md-none">
        <div class="header-logo">
            <a href="index.html"><img src="img/logo-new.png" alt="logo"></a>
        </div>
    </div>
    <div class="sidebar-menu-content">
        <ul class="nav nav-sidebar-menu sidebar-toggle-view">
            <li class="nav-item">
                <a href="admin-index.html" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a id="addTeacher" class="nav-link  menu-active"><i class="flaticon-classmates"></i><span>Teachers</span></a>
            </li>
            <li class="nav-item">
                <a id="addAccount" class="nav-link">
                    <i class="fa fa-users" aria-hidden="true"></i><span>Accounts</span>
                </a>
            </li>
            <li class="nav-item">
                <a id="addStudent" class="nav-link">
                    <i class="fa fa-plus" aria-hidden="true"></i><span>Add Student</span>
                </a>
            </li>
            <li class="nav-item">
                <a id="addHomework" class="nav-link">
                    <i class="fa fa-book" aria-hidden="true"></i><span>Homework</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin-fee-collection.html" class="nav-link"><i class="flaticon-technological"></i><span>Fee Collection</span></a>
            </li>
            <li class="nav-item">
                <a href="admin-students-attendance.html" class="nav-link"><i class="flaticon-checklist"></i><span>Attendance Report</span></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link"><i class="flaticon-checklist"></i><span>Report Card</span></a>
            </li>
            <li class="nav-item">
                <a href="admin-download-video.html" class="nav-link">
                    <i class="fa fa-download" aria-hidden="true"></i><span>Download Video</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin-holidays.html" class="nav-link">
                    <i class="fa fa-umbrella-beach" aria-hidden="true"></i><span>Holidays</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin-birthday.html" class="nav-link">
                    <i class="fa fa-birthday-cake" aria-hidden="true"></i><span>Upcoming Birthday</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin-queries.html" class="nav-link">
                    <i class="fa fa-question" aria-hidden="true"></i><span>Queries</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin-change-password.html" class="nav-link">
                    <i class="fa fa-key" aria-hidden="true"></i><span>Change Password</span>
                </a>
            </li>
        </ul>
    </div>
</div>