<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
    <div class="mobile-sidebar-header d-md-none">
        <div class="header-logo"> <a href="index.html"><img src="img/logo1.png" alt="logo"></a> </div>
    </div>
    <div class="sidebar-menu-content">
        <ul class="nav nav-sidebar-menu sidebar-toggle-view">
            <li class="nav-item">
                <a id="TeacherDashboard" class="nav-link">
                    <i class="flaticon-dashboard"></i><span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a id="StudentView" class="nav-link">
                    <i class="flaticon-classmates"></i><span>Students</span>
                </a>
            </li>
            <li class="nav-item sidebar-nav-item">
                <a href="" class="nav-link" id="Att"><i class="flaticon-calendar"></i><span>Attendance</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item"> <a id="MarkeAtt" class="nav-link" style="cursor: pointer;"><i class="fa fa-angle-right"></i>Mark Attendance</a> </li>
                    <li class="nav-item"> <a id="ViewAtt" class="nav-link" style="cursor: pointer;"><i class="fa fa-angle-right"></i>View Attendance</a> </li>
                </ul>
            </li>
            <li class="nav-item sidebar-nav-item">
                <a href="" class="nav-link" id="HW"><i class="flaticon-books"></i><span>Homework</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item"> <a id="UploadHW" class="nav-link" style="cursor: pointer;"><i class="fa fa-angle-right"></i>Upload Homework</a> </li>
                    <li class="nav-item"> <a id="ViewHW" class="nav-link" style="cursor: pointer;"><i class="fa fa-angle-right"></i>View Homework</a> </li>
                </ul>
            </li>
            <li class="nav-item sidebar-nav-item">
                <a href="" class="nav-link" id="Rslt"><i class="fa fa-upload"></i><span>Upload Result</span></a>
                <ul class="nav sub-group-menu">
                    @*<li class="nav-item"> <a id="UploadHW" class="nav-link" style="cursor: pointer;"><i class="fa fa-angle-right"></i>Upload Homework</a> </li>*@
                    <li class="nav-item"> <a id="UploadRslts" href="/Result/ExportToExcel" class="nav-link" style="cursor: pointer;"><i class="fa fa-angle-right"></i>Download Excel Result</a> </li>
                    <li class="nav-item"> <a id="UploadRslts" href="/Result/UploadResult" class="nav-link" style="cursor: pointer;"><i class="fa fa-angle-right"></i>Upload Result</a> </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="ViewRslt" href="/Result/ViewResult"><i class="fa fa-search"></i><span>View Result</span></a>
            </li>
        </ul>
    </div>
</div>