<script id="HomeworkTemplate" type="text/x-jquery-tmpl">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form class="new-added-form">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Select Class *</label>
                            <select class="select2 form-control" id="txtClass" required onchange="GetSubjectforUploadHW()">
                                <option value="0">Select Class</option>
                                {{each(i) ClassesMasters}}
                                <option value="${Id}">${ClassName}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Select Section *</label>
                            <select class="select2 form-control" id="txtSection" required>
                                <option value="0">Select Section</option>
                                {{each(i) SectionsMasters}}
                                <option value="${Id}">${SectionName}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Subject *</label>
                            <select class="select2 form-control" id="txtSubject" required onclick="CheckClassvalueforUploadHW()">
                                <option value="0">Select Subject</option>
                                {{each(i) SubjectsMasters}}
                                <option value="${Id}">${Subject}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Last Submission Date *</label>
                            <input type="date" placeholder="" class="form-control" id="txtLastDate" required onclick="Change()">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label class="text-dark-medium">Upload PDF/JPEG/Audio/Video</label>
                            <input type="file" class="form-control-file" id="txtFile" required multiple>
                            
                        </div>
                        <!--<div class="col-xl-4 col-lg-6 col-12 form-group">
                           
                        </div>-->
                        

                        <div class="col-12 form-group mg-t-8">
                            <span type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" onclick="UploadHomework(0,0)" id="SaveBtt">Save</span>
                            <span type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow" onclick="Reset()" id="Resetbtt">Reset</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</script>
