<div class="col-12">
    <div class="card">
        <div class="card-body">
          <h1 id="headforMarkAtt"> </h1>
            <div class="table-responsive">
                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer">
                    <table class="table display data-table text-nowrap dataTable no-footer" id="DataTables_Table_StudentList" role="grid">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" rowspan="1" colspan="1" aria-label="Admission ID" style="width: 96px;">Admission ID</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name : activate to sort column ascending" style="width: 79px;">Name </th>
                                <th class="sorting" tabindex="1" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Roll Number: activate to sort column ascending" style="width: 78px;">Roll No</th>
                                <th class="sorting" tabindex="2" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="PRESENT STATUS: activate to sort column ascending" style="width: 52px;">PRESENT STATUS</th>
                            </tr>
                        </thead>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
