<script id="TeacherDashboardtem" type="text/x-jquery-tmpl">

    <div class="row gutters-20">
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="item-icon bg-light-green "> <i class="flaticon-classmates text-green"></i> </div>
                    </div>
                    <div class="col-6">
                        <div class="item-content">
                            <div class="item-title"><a  onclick="GetAllStudent()">Students</a></div>
                            <div class="item-number"><span class="counter" data-num="150000"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="item-icon bg-light-blue"> <i class="flaticon-multiple-users-silhouette text-blue"></i> </div>
                    </div>
                    <div class="col-6">
                        <div class="item-content">
                            <div class="item-title"><a onclick="ViewAttendanceForm()">Attendance</a></div>
                            <div class="item-number"><span class="counter" data-num="2250"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="item-icon bg-light-yellow"> <i class="flaticon-couple text-orange"></i> </div>
                    </div>
                    <div class="col-6">
                        <div class="item-content">
                            <div class="item-title"><a href="homework.html">Homework</a></div>
                            <div class="item-number"><span class="counter" data-num="5690"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="item-icon bg-light-red"> <i class="flaticon-shopping-list text-red"></i> </div>
                    </div>
                    <div class="col-6">
                        <div class="item-content">
                            <div class="item-title"><a href="fees.html">Report Card</a></div>
                            <div class="item-number"><span></span><span class="counter" data-num="193000"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </script>