<script id="ViewAttGridTemplate" type="text/x-jquery-tmpl">
    <div class="col-12" id="Grid">
        <div class="card">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3 id="attHeading"> </h3>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table bs-table table-striped table-bordered text-nowrap">
                        <thead>
                            <tr id="head">
                            </tr>


                        </thead>
                        <tbody class="lefttd" id="innervalue">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </script>