<script id="CreateAccountTemplate" type="text/x-jquery-tmpl">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form class="new-added-form">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-12 form-group">
                            <div class="form-group">
                                <label for="email">Name *</label>
                                <input type="text" class="form-control" id="" placeholder="" name="name">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-12 form-group">
                            <div class="form-group">
                                <label for="email">Mobile *</label>
                                <input type="text" class="form-control" id="" placeholder="" name="mobile">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-12 form-group">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="" name="email">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-12 form-group">
                            <select class="selectpicker" id="test1" multiple data-live-search="true">
                                <option value="0">Mustard</option>
                                <option value="1">Ketchup</option>
                                <option value="2">Relish</option>
                            </select>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-12 form-group">
                            <select class="selectpicker" id="test2" multiple data-live-search="true">
                                <option value="0">Mustard</option>
                                <option value="1">Ketchup</option>
                                <option value="2">Relish</option>
                            </select>
                        </div>
                        <div class="col-12 form-group mg-t-8">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>