@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="breadcrumbs-area">
        <h3>Student Management</h3>
    </div>
<div class="row">
    <!-- Add Transport Area Start Here -->
    <div class="col-12-xxxl col-12">
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Add New Student</h3>
                    </div>
                </div>
                <form class="new-added-form" method="post" action="/Admin/AddTeacher">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Admission ID *</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>First Name *</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Last Name *</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Gender *</label>
                            <select class="select2 form-control">
                                <option value="">Please Select Gender *</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Date Of Birth *</label>
                            <input type="date" class="form-control" name="">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Father's Name *</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Mother's Name *</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Class *</label>
                            <select class="select2 form-control">
                                <option value="">Please Select Class *</option>
                                @foreach (var cls in Model.ClassesMasters)
                                {
                                    <option value="@cls.Id">@cls.ClassName</option>
                                }

                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Section *</label>
                            <select class="select2 form-control">
                                <option value=""> Please Select Section *</option>
                                @foreach (var cls in Model.SectionsMasters)
                                {
                                    <option value="@cls.Id">@cls.SectionName</option>
                                }
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Roll No.</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>E-Mail</label>
                            <input type="email" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Phone *</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-lg-6 col-6 form-group mg-t-30">
                            <label class="text-dark-medium">Upload Student Photo</label>
                            <input type="file" class="form-control-file">
                        </div>
                        <div class="col-lg-6 col-6 form-group mg-t-30">
                            <label class="text-dark-medium">Upload Excel Sheet</label>
                            <input type="file" class="form-control-file">
                        </div>
                        <div class="col-12 form-group mg-t-8">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Add Transport Area End Here -->
    <!-- All Transport List Area Start Here -->
    <div class="col-12-xxxl col-12">
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>All Students List</h3>
                    </div>
                </div>
                <form class="mg-b-20">
                    <div class="row gutters-8">
                        <div class="col-lg-4 col-12 form-group">
                            <input type="text" placeholder="Search by Name ..." class="form-control">
                        </div>
                        <div class="col-lg-3 col-12 form-group">
                            <input type="text" placeholder="Search by Admission ID ..." class="form-control">
                        </div>
                        <div class="col-lg-3 col-12 form-group">
                            <input type="text" placeholder="Search by Class ..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-12 form-group">
                            <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table display data-table text-nowrap">
                        <thead>
                            <tr>
                                <th>Admission ID</th>
                                <th>First Name </th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Date Of Birth</th>
                                <th>Father's Name</th>
                                <th>Mother's Name</th>
                                <th>Class</th>
                                <th>Section</th>
                                <th>Roll No.</th>
                                <th>E-Mail</th>
                                <th>Phone</th>
                                <th>Photo</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">14534</label>
                                    </div>
                                </td>
                                <td>Anil</td>
                                <td>Kumar</td>
                                <td>M</td>
                                <td>12/06/1996</td>
                                <td>Raj Kumar</td>
                                <td>Meenu</td>
                                <td>4th</td>
                                <td>A</td>
                                <td>22</td>
                                <td>anil@gmail.com</td>
                                <td>9876543210</td>
                                <td><img src="img/student-pic.jpg"></td>
                                <td><i class="fas fa-trash text-danger actionbtn"></i> <i class="fas fa-edit text-success actionbtn"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- All Transport List Area End Here -->
</div>