<script id="studentdatatablelist" type="text/x-jquery-tmpl">

  
      
        <!-- All Transport List Area Start Here -->
        <div class="col-12-xxxl col-12">
            <div class="card height-auto">
                <div class="card-body">

                    <div class="table-responsive">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                            <table class="table display data-table text-nowrap dataTable no-footer" id="DataTables_Table_0" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" rowspan="1" colspan="1" aria-label="Admission ID" style="width: 96px;">Admission ID</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="First Name : activate to sort column ascending" style="width: 79px;">First Name </th>
                                        <th class="sorting" tabindex="1" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending" style="width: 78px;">Last Name</th>
                                        <th class="sorting" tabindex="2" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Gender: activate to sort column ascending" style="width: 52px;">Gender</th>
                                        <th class="sorting" tabindex="3" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date Of Birth: activate to sort column ascending" style="width: 93px;">Date Of Birth</th>
                                        <th class="sorting" tabindex="4" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Father's Name: activate to sort column ascending" style="width: 103px;">Father's Name</th>
                                        <th class="sorting" tabindex="5" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Mother's Name: activate to sort column ascending" style="width: 109px;">Mother's Name</th>
                                        <th class="sorting" tabindex="6" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Class: activate to sort column ascending" style="width: 40px;">Class</th>
                                        <th class="sorting" tabindex="7" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Section: activate to sort column ascending" style="width: 55px;">Section</th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Roll No." style="width: 57px;">Roll No.</th>
                                    </tr>
                                </thead>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- All Transport List Area End Here -->

    </script>
